
<%=@race.name%><br>
    <%=@race.location%><br>
    <%=@race.date_format%><br>
    <%=@race.type.name%><br>
    <%=@race.type.distance%><br><br>
    <h4>Update Your Stats</h4>
    <%=form_with(model: @statistic, url: race_statistics_path(@race)) do |f|%>
        f.fields_for 
        <%=render partial: 'statistics/stats_fields', locals: {s: f}%>
        <%=f.hidden_field :id%>
        <%=f.submit edit_race_button_text(@race)%>
        <%end%>
        <%if @race.users.include?(current_user)%>
        <div class="Delete Button"><%=link_to "Delete My Statistic", statistic_path(current_user_stats_for_form(@race)), :method => 'delete'%></div>
        <%end%>