<%if @statistic.user_id == nil%>
<%=form_with(model: @statistic, url: race_statistics_path(@statistic.race), method: 'post') do |f|%>
    <%=render 'form_partial', f:f%>
    <div class="button", style="padding-top:10px"><%=f.submit form_submit_text(@statistic)%></div>
    <%end%>
<%else%>
<%=form_with(model: @statistic, url: race_statistic_path(@statistic.race, @statistic), method: 'put') do |f|%>
    <%=render 'form_partial', f:f%>
    <div class="button", style="padding-top:10px"><%=f.submit form_submit_text(@statistic)%></div>
    <%end%>
<%end%> 