<div style="padding-left: 20px">
<h1>Edit Your Statistic</h1>
<% if @statistic.errors.any? %>
  <div id="error_explanation">
    <h3>Please fix <%= pluralize(@statistic.errors.count, "error") %> below:</h3>
    <ul>
      <% @statistic.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
    <%= render 'races/race_view'%>
    <h4 style="text-align:left">Update Your Stats</h4>
    <%=render 'form'%>
    <div class="button", style="padding-top:10px"><%=link_to "Delete My Stats", statistic_path(current_user_stats_for_form(@race)), :method => 'delete'%></div>
</div>