<%= flash[:message]%>
<div class="race_stats", style="padding-left: 20px">
<h1 style="margin: 15px 0px 5px 0px"><%=@race.display_name%> Stats</h1>
<div>Total Finishers: <%=@race.statistics.count%></div>
<ul style="list-style-type:none;padding:0px;margin-top:10px">
    <li>Location: <%=@race.location%></li>
    <li>Date: <%=@race.date_format%></li>
    <li>Type: <%=@race.type.name%></li>
</ul>
    <table class = "finisher_stats">
        <thead>
        <caption><h3 style="text-align: center;margin-top:0px">Finisher Stats</h3></caption>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Age</th>
                <th>Finish Time</th>
                <th>Pace</th>
            </tr>
        </thead>
        <body>
            <%x = 0%>
            <%public_statistics(@race).each do |stat| %>  
            <tr>
                <td><%= x += 1%></td>
                <td><%=stat.user.first_name%> <%=stat.user.last_name%></td>
                <td><%=stat.user.age%></td>
                <td><%=stat.finish_time_format%></td>
                <td><%=stat.finish_pace_format%></td>
            </tr>
            <%end%>
        </body>
    </table><br><br>

<%if @race.owner == current_user%>
<div class="button"><%=link_to "Edit Race", edit_race_path(@race), method: 'get'%>
<%elsif @race.users.include?(current_user)%>
<div class="button"><%=link_to "Edit My Statistic", edit_race_statistic_path(@race.id, current_user_stats(@race).id)%></div>
<%elsif !logged_in?%>
<%nil%>
<%else%>
<div class="button"><%=link_to "Add My Statistic", new_race_statistic_path(@race)%></div>
<%end%>
</div>