<h1><%=@race.name%> Stats</h1>
<ul style="list-style-type:none;padding:0px">
    <li><%=@race.location%></li>
    <li><%=@race.date_format%></li>
    <li><%=@race.type.distance%> miles</li>
</ul>
    <table class = "finisher_stats">
        <thead>
        <caption><h3 style="text-align: center">Finishers</h3></caption>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Finish Time</th>
                <th>Pace</th>
            </tr>
        </thead>
        <body>
            <%public_statistics(@race).each do |stat| %>  
            <tr>
                <td><%=stat.user.first_name%> <%=stat.user.last_name%></td>
                <td><%=stat.user.age%></td>
                <td><%=stat.finish_time_format%></td>
                <td><%=stat.finish_pace_format%></td>
            </tr>
            <%end%>
        </body>
    </table><br><br>

<%if @race.owner == current_user%>
<div class="button"><%=link_to "Edit Race", edit_race_path(@race), method: 'get'%>
<%elsif @race.users.include?(current_user)%>
<div class="button"><%=link_to "Edit My Statistic", edit_race_statistic_path(@race.id, current_user_stats(@race).id)%></div>
<%else%>
<div class="button"><%=link_to "Add My Statistic", new_race_statistic_path(@race)%></div>
<%end%>