<%=@race.name%><br>
    <%=@race.location%><br>
    <%=@race.date_format%><br>
    <%=@race.type.name%><br>
    <%=@race.type.distance%><br><br>
    <h4>Add Your Stats</h4>
    <%=render 'form'%>
    
