<%=form_with(model: @race) do |f|%>
    <%=f.label :name, "Race Name"%>
    <%=f.text_field :name%><br><br>
    <%=f.label :location, "Race Location"%>
    <%=f.text_field :location%><br><br>
    <%=f.label :date, "Race Date"%>
    <%=f.date_field :date%><br><br>
    <%=f.fields_for :type, @race.type do |t|%>
        <%if @race.type == nil%>
        <h4>Select the type of race or create a new one!</h4>
        <%=t.label "Type"%>
        <%=t.collection_select :id, Type.all.order(:distance).uniq, :id, :name, :prompt => 'Select Type'%><br><br>
        <%=t.label :name, "New Type (ex. 4 Miler)"%>
        <%=t.text_field :name%><br>
        <%=t.label :distance, "Distance (in miles)"%>
        <%=t.text_field :distance%><br><br>
        <%else%>
        <h4>Race Type</h4>
        <%=t.hidden_field :id%>
        <%=t.collection_select :id, Type.all.order(:distance).uniq, :id, :name, {:prompt => true, :selected => @race.type.id}%><br><br>
        <%end%>
    <%end%>
    <%=f.label :public, "Make this race public (this will allow other users to add their statistics to the race)"%>
    <%=f.check_box :public%><br><br>
    <%if @race.type == nil%>
        <h4>Add Your Finisher Stats</h4>
    <%else%>
        <h4>Update Your Finisher Stats</h4>
    <%end%>
    <%=f.fields_for :statistic, current_user_stats_for_form(@race) do |s|%>
        <%=render partial: 'stats_fields', locals: {s: s}%>
        <%end%>
    <%=f.submit submit_button_text(@race)%>
<%end%>