<%if @races%>
    <%@races.each do |race|%>
    <h4 class="race_link"><%=link_to race.name, race_statistics_path(race)%></h4>
    <%=race.type.name%><br>
    <%=race.date_format%><br>
    <%=race.type.distance%><br>
    <%end%>
<%else%>
<h3>Recent Races</h3>
<%public_races.each do |race|%>
    <h4 class="race_link"><%=link_to race.name, race_statistics_path(race)%></h4>
    <%=race.type.name%><br>
    <%=race.date_format%><br>
    <%=race.type.distance%><br>
<%end%>
<%end%>