
<%if @races%>
    
    <%@races.order(created_at: :desc).each do |race|%>
        <h5 class="race_link", style="margin: 10px 0px 0px 0px"><%=link_to race.display_name, race_statistics_path(race)%></h5>
        <p style="margin:0px 0px 15px 0px">Finishers: <%=race.statistics.count%> </p>
    <%end%>
<%else%>
    <h3>Recently Created Races</h3>
    <div>
    <%public_races.each do |race|%>
        <h4 class="firstpage" style="text-align:left"><%=link_to race.display_name, race_statistics_path(race)%></h4>
        Type: <%=race.type.name%><br>
        Date: <%=race.date_format%><br>
        Total Finishers: <%=race.statistics.count%>
    <%end%>
    </div>
<%end%>