<h1><%=@race.name%></h1>
<ul>
    <li><%=@race.location%></li>
    <li><%=@race.date_format%></li>
    <li><%=@race.type.distance%> miles</li>
    <h3>Finishers</h3>
    <table class = "finisher_stats">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Finish Time</th>
                <th>Pace</th>
            </tr>
        </thead>
        <body>
            <%public_statistics(@race).each do |stat| %>  
            <tr>
                <td><%=stat.user.first_name%> <%=stat.user.last_name%></td>
                <td><%=stat.user.age%></td>
                <td><%=stat.finish_time_format%></td>
                <td><%=stat.finish_pace_format%></td>
            </tr>
            <%end%>
        </body>
    </table>
</ul>