<h1 style="padding-left:20px"><%=@type.name%>s</h1>
<ul class="public_races">
<%@type.races.each do |race|%>
    <ul class="individual_public_race">
        <li><h3 class="race_link"><%=link_to race.name, race_statistics_path(race)%></h3></li>
        <li>Location: <%=race.location%></li>
        <li>Date: <%=race.date_format%></li>
        <li>Total Finishers: <%=race.users.count%></li>
    </ul>
<%end%>
</ul>
