<div class="dashboard">
    <div id="dashboard"><h2>My Racing Dashboard</h2></div>
    <div id="race_types">
        <%dashboard.each do |type|%>
            <div id=<%=type%>><h4><%=type%></h4>
                <ul>
                <li>Completed <%=type.pluralize%></li>
                <li><%=user_race_count_of_type(type)%></li><br>
                <li>Total Miles</li>
                <li><%=current_user.total_race_type_distance(type)%></li><br>
                    <div class="fastest">Fastest <%=type%><br>
                    <li><%=fastest_race_name(type)%></li>
                    <li>Finish Time: <%=fastest_race_finish_time(type)%></li>
                    <li>Finish Pace: <%=fastest_race_finish_pace(type)%></li>
                    </div>
                </ul>
            </div>  
        <%end%>                   
    </div>
</div>

