<%= flash[:message]%>
<div class="row">
    <%if @races%>
        <%= render 'users/dashboard'%>
    <%else%>
        <%=render 'dashboard'%>
    <%end%>

    <div class="race_search">
        <h2 style="text-align:center">Find A Race</h2>
        <%= form_tag(races_path, method:"get") do |f| %>
            <%= label_tag("Search by:", nil, style:"width: 80px") %>
            <%= text_field_tag('filter', nil, placeholder: "Name/City/Location") %>
            <div style="padding:5px">and/or</div>
            <%= label_tag("date:", nil, style:"width: 80px") %>
            <%= date_field_tag('date') %>
            <div class="button", style="padding-top:20px"><%= submit_tag("Search")%> <%=link_to "New Race", new_race_path%></div>
            <div class="button", style="padding-top:20;"></div><br>
        <% end %>
    <%=render '/races/public_races'%>
    </div>
</div>