<h1>My <%=@type.name%>'s</h1>
    <%x = 0%>
    <p>
    <table class = "my_types">
        <thead>
        <caption><h3 style="text-align: center">Finisher Stats</h3></caption>
            <tr>
                <th></th>
                <th>Race Name</th>
                <th>Miles</th>
                <th>Location</th>
                <th>Date</th>
                <th>Finish Time</th>
                <th>Pace</th>
            </tr>
        </thead>
        <body>
            <%@type.statistics.ordered.where(:user_id => current_user).each do |stat|%>
            <tr>
                <td><%= x += 1%></td>
                <td><%=link_to stat.race.name, race_statistics_path(stat.race), style: "text-decoration:none"%></td>
                <td><%=@type.distance%> miles</td>
                <td><%=stat.race.location%></td>
                <td><%=stat.race.date_format%></td>
                <td><%=user_race_stats(stat.race).finish_time_format%></td>
                <td><%=user_race_stats(stat.race).finish_pace_format%></td>
            </tr>
            <%end%>
        </body>
    </table>
    </p>