<%if !logged_in?%>
    <div class="menu_bar">
        <ul>
            <li><%=link_to image_tag("racetrackerlogo.jpg", width:'110px',), '/'%></li>
            <li><%=link_to "Sign Up", new_user_path%></li>
            <li><%=link_to "Login", '/login'%></li>
        </ul>
    </div>
<%else%>
<div class="menu_bar">
        <ul>
            <li><%=link_to image_tag("racetrackerlogo.jpg", width:'110px',), '/'%></li>
            <li><%=link_to "My Dashboard", user_path(current_user)%></li>
            <li><%=link_to "Logout", '/logout', method: "post"%></li>
        </ul>
    </div>
<%end%>