<!DOCTYPE html>
<html>
  <head>
    <title>RACETRACKER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
  
  <%=menu_bar%>
  
  <script>
    var dropdown = document.getElementsByClassName("dropdown_btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "inline") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "inline";
  }
  });
}
  </script>
  
  <body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;background-color:rgb(65, 130, 187)">
    <div style="margin-left: 120px;">
    <%= yield %>
    </div>
  </body>
</html>
